/* ==========================================================================
   Homepage
   ========================================================================== */

.gameBoard {
	width: 325px;
	height: 325px;
	margin: 0 auto;

	input {
		border: 1px solid #000;
		float: left;
		width: 35px;
		height: 35px;
		text-align: center;
	}

	.boxNum2, .boxNum11, .boxNum20,
	.boxNum29, .boxNum38, .boxNum47,
	.boxNum56, .boxNum65, .boxNum74 {
		border-right: 3px solid #000;
	}

	.boxNum5, .boxNum14, .boxNum23,
	.boxNum32, .boxNum41, .boxNum50,
	.boxNum59, .boxNum68, .boxNum77 {
		border-right: 3px solid #000;
	}

	.boxNum18, .boxNum19, .boxNum20,
	.boxNum21, .boxNum22, .boxNum23,
	.boxNum24, .boxNum25, .boxNum26 {
		border-bottom: 3px solid #000;
	}

	.boxNum45, .boxNum46, .boxNum47,
	.boxNum48, .boxNum49, .boxNum50,
	.boxNum51, .boxNum52, .boxNum53 {
		border-bottom: 3px solid #000;
	}
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

