/* ==========================================================================
   Main Stylesheet
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ---------------------------------------------
      Color
   --------------------------------------------- */
/* ---------------------------------------------
      Mixins
   --------------------------------------------- */
/* ==========================================================================
   Typography
   ========================================================================== */
@font-face {
  font-family: myFirstFont;
  src: url(fonts/Franklin Gothic Demi Cond Regular.ttf);
}
/* ==========================================================================
   Elements
   ========================================================================== */
/* ---------------------------------------------
			Buttons
   --------------------------------------------- */
.btn {
  background-color: blue;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  color: blue;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid blue;
}
.btn-sm {
  padding: 20px;
}
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Homepage
   ========================================================================== */
.gameBoard {
  width: 325px;
  height: 325px;
  margin: 0 auto;
  margin-top: 20px;
}
.gameBoard input {
  border: 1px solid #000;
  float: left;
  width: 35px;
  height: 35px;
  text-align: center;
}
.gameBoard .boxNum2,
.gameBoard .boxNum11,
.gameBoard .boxNum20,
.gameBoard .boxNum29,
.gameBoard .boxNum38,
.gameBoard .boxNum47,
.gameBoard .boxNum56,
.gameBoard .boxNum65,
.gameBoard .boxNum74 {
  border-right: 3px solid #000;
}
.gameBoard .boxNum5,
.gameBoard .boxNum14,
.gameBoard .boxNum23,
.gameBoard .boxNum32,
.gameBoard .boxNum41,
.gameBoard .boxNum50,
.gameBoard .boxNum59,
.gameBoard .boxNum68,
.gameBoard .boxNum77 {
  border-right: 3px solid #000;
}
.gameBoard .boxNum18,
.gameBoard .boxNum19,
.gameBoard .boxNum20,
.gameBoard .boxNum21,
.gameBoard .boxNum22,
.gameBoard .boxNum23,
.gameBoard .boxNum24,
.gameBoard .boxNum25,
.gameBoard .boxNum26 {
  border-bottom: 3px solid #000;
}
.gameBoard .boxNum45,
.gameBoard .boxNum46,
.gameBoard .boxNum47,
.gameBoard .boxNum48,
.gameBoard .boxNum49,
.gameBoard .boxNum50,
.gameBoard .boxNum51,
.gameBoard .boxNum52,
.gameBoard .boxNum53 {
  border-bottom: 3px solid #000;
}
.solveButton {
  width: 200px;
  height: 25px;
  left: 50%;
  position: absolute;
  margin-left: -100px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller

   Also, may modify and just make breakpoints where site goes wrong.
--------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}
/* Non-Retina */
/* Retina */
